
.App {
  width: 350px;
}

.qr-input {
  margin-bottom: 20px;
  justify-content: center;
  align-content: center;
}

.first{
  margin-left: 490px;
  margin-top: 50px;
  display:inline-flex
}

.second{
  margin-left: 490px;
  margin-top: 10px;
  display:inline-flex
}

.third{
  margin-left: 490px;
  margin-top: 10px;
  display:inline-flex
}

.download{
  margin: 25px;
  text-align: center;
  justify-content: center;
  margin-left:520px;
}

.dwn-button{
  text-align: center;
  justify-content: center;
  margin-left: 550px;

}

.qr-input input {
  padding: 5px 10px;
  margin-right: 10px;
  border: 2px solid black;
  justify-content: center;
  align-content: center;
  background-color:whitesmoke;
}

.download-btn {
  margin-top: 10px;
  padding: 5px 10px;
}
